body{
    background-color: rgb(252, 248, 248);
}
#Intro {
    padding-left: 80px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: justify;
    margin-right: 120px;
}
#Intro h2{
    background-color: red;
    color: white;
    width: 200px;
    text-align: center;

}
#image{
    padding-top: 5px;
    padding-left: 0px;
}
#Teachers{
    font-family: 'Oswald', sans-serif;
    padding-left: 80px;
    font-size: 20px;
}
#Teachers h2{
    background-color: red;
    color: white;
    width: 200px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 10px;
    padding: 20px;

}
#photos{
    height: 350px;
    width: 1920px;
    background-color:bisque;
    padding: 0%;
    margin: 0%;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center  ;
}
#photos img{
    height: 200px;
    width: 250px;
    padding:20px;
    padding-left: 80px;
    float: left;
    padding-right: 20px;
    
}
#detail{
    height: 20px;
    padding-left: 80px;

}
#detail h5{
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    float: left;
    padding-right ;
    text-align: start;
    padding-right: 95px;
    margin-top:0px ;
}

