body{
    margin: 0px;
    background-color: rgb(252, 248, 248);
   
}
#Header1{
    height: 40px;
    width: 100%;
    background-color: darkblue;

}
.text{
    font-weight: bold;
    color: white;
    padding-top: 5px;
}
#banner{
    height: 100px;
    background-color: white;
}
#banner img{
    height: 100px;
    width: 100%;
}
#nav_bar{
    height: 50px;
    width: 100%;
    background-color: darkblue;
}
#nav_bar ul{
    float: left;
    margin-left: 50px;
    
}
#nav_bar ul li{
    list-style: none;
    float: left;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}
#nav_bar ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding-right: 30px;
    font-size: 20px;
}
#nav_bar ul li a:hover{
    color:red;
    
}
#BG_photo{
    height: 500px;
    width: 100%;
    opacity: 90%;
    background-repeat: no-repeat;
    margin-top: 5px;
    

}
#line{
    height: 2px;
    width: 960px;
    background-color: red;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
}
#Welcome{

    line-break: auto;
    padding-left: 80px;
}
#Welcome p{
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}
#Welcome h2{
    width: 400px;
    font-size: 30px;
    background-color: red;
    color: white;
    text-align: center;
    font-family: cursive;
    
}
#Message{
    height: 500px;
    width: 1920px;
    display: flex;
    
}
.message_text{
    width: 1000px;
    padding-left: 80px;
    float: left;

}
.message_text h2{
    width: 500px;
    font-size: 30px;
    background-color: red;
    color: white;
    text-align: center;
    font-family: cursive;
}

.message_text p{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    padding-left: 3px;
    text-align: justify;
    padding-right: 10px;
    font-weight: 300;
    letter-spacing: 1px;
    width: 1000px;
    
}
.message_image{
    width: 800px;
    height: px;
    float: right;
}
.message_image img{
    height: 300px;
    width: 300px;
    height: auto;
   padding:100px;
   shape-image-threshold: calc();
}
footer {
    background-color: darkblue;
    color: white;
    padding: 50px 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .footer-section {
    flex: 1 0 300px;
    padding: 0 30px;
    box-sizing: border-box;
    margin-bottom: 30px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .divider {
    width: 100px;
    height: 2px;
    background-color: white;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  .social-links li,
  .important-links li,
  .contact-info li {
    margin-bottom: 10px;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
  }
  #footer{
    background-color: red;
    height: 50px;
    margin: 0 auto;
    color:white;
    padding-top: 10px;
  }
  